@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
  background-color: #34495e;
}

.meeting_room,
.office,
.desk {
  fill: #D3D3D3;
  stroke: #bfbfbf;
  pointer-events: all;
}

.meeting_room.booked,
.office.booked,
.desk.booked {
  opacity: 0.5;
  fill: red;
}

.meeting_room:hover,
.office:hover,
.desk:hover path,
.desk:hover rect {
  stroke: #333;
  stroke-width: 3px;
  opacity: 0.5;
  fill: #0066FF !important;
}

.meeting_room.booked:hover,
.office.booked:hover,
.desk.booked:hover {
  fill: #ff9999;
}

.desk {
  cursor: pointer;
}

.desk path,
.desk rect {
  fill: #d8d8d8;
  stroke: #000;
}

.desk-bkg {
  fill: none !important;
  stroke: none !important;
}

.desk.booked {
  pointer-events: none;
}

.desk.booked path,
.desk.booked rect {
  fill: red;
}

