@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  background-clip: text;
  --tw-text-opacity: 1;
  -webkit-text-fill-color: rgb(63 63 70 / var(--tw-text-opacity));
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px inherit;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  --tw-text-opacity: 1;
  -webkit-text-fill-color: rgb(212 212 216 / var(--tw-text-opacity));
}

.meeting_room,
.office,
.desk {
  fill: #D3D3D3;
  stroke: #bfbfbf;
  pointer-events: all;
}

.meeting_room.booked,
.office.booked,
.desk.booked {
  opacity: 0.5;
  fill: red;
}

.meeting_room:hover,
.office:hover,
.desk:hover path,
.desk:hover rect {
  stroke: #333;
  stroke-width: 3px;
  opacity: 0.5;
  fill: #0066FF !important;
}

.meeting_room.booked:hover,
.office.booked:hover,
.desk.booked:hover {
  fill: #ff9999;
}

.desk {
  cursor: pointer;
}

.desk path,
.desk rect {
  fill: #d8d8d8;
  stroke: #000;
}

.desk-bkg {
  fill: none !important;
  stroke: none !important;
}

.desk.booked {
  pointer-events: none;
}

.desk.booked path,
.desk.booked rect {
  fill: red;
}