@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  background-clip: text;
  --tw-text-opacity: 1;
  -webkit-text-fill-color: rgb(63 63 70 / var(--tw-text-opacity));
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px inherit;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  --tw-text-opacity: 1;
  -webkit-text-fill-color: rgb(212 212 216 / var(--tw-text-opacity));
}

.MapSelectable:hover {
  opacity: 70%;
}

.meeting_room,
.parking,
.office,
.desk {
  cursor: pointer;
}

.meeting_room:hover path,
.parking:hover path,
.office:hover circle,
.desk:hover path {
  cursor: pointer;
  fill: #3498db;
}

.meeting_room.booked path,
.parking.booked path,
.office.booked circle,
.desk.booked path,
.restricted path,
.restricted circle {
  pointer-events: none;
  fill: #f39a9a;
}

.favourite path {
  stroke: #0f38f1 !important;
}

.meeting_room.partiallybooked path,
.parking.partiallybooked path,
.office.partiallybooked circle,
.desk.partiallybooked path {
  stroke: #565656;
  fill: rgb(241, 241, 138) !important;
}

.meeting_room.personallybooked path,
.parking.personallybooked path,
.office.personallybooked circle,
.desk.personallybooked path {
  stroke: #565656;
  fill: #0d4eaf !important;
}

.meeting_room.partiallybooked:hover path,
.parking.partiallybooked:hover path,
.office.partiallybooked:hover circle,
.desk.partiallybooked:hover path {
  opacity: 0.7;
}

.meeting_room.personallybooked:hover path,
.parking.personallybooked:hover path,
.office.personallybooked:hover circle,
.desk.personallybooked:hover path {
  opacity: 0.7;
}